# Environment variables
backend/.env

# Virtual environment
.venv/

# Node.js dependencies
node_modules/
build/

# uv cache
.uv_cache/

# Python compiled files
__pycache__/
*.pyc

# Uvicorn temporary directory
uvicorn/
