fastapi
uvicorn
psycopg2-binary
SQLAlchemy
python-dotenv
qdrant-client
google-generativeai
langchain-google-genai
langchain_openai
langchain-core==1.2.0
# langchain-community For Ingestion
langchain-qdrant
anyio
passlib[bcrypt,argon2]
argon2-cffi
python-jose[cryptography]