fastapi
uvicorn
psycopg2-binary
SQLAlchemy
python-dotenv
google-generativeai
langchain
langchain-community
qdrant-client
langchain-google-genai
langchain-core
lxml
beautifulsoup4
fastembed
langchain-qdrant
anyio
google-ai-generativelanguage