fastapi
uvicorn
psycopg2-binary
SQLAlchemy
python-dotenv
langchain
langchain-community
qdrant-client
openai
openai-agents
langchain-openai
langchain-core==1.1.1 # Updated to compatible version
lxml
beautifulsoup4
fastembed
langchain-qdrant
anyio
passlib[bcrypt,argon2]
argon2-cffi
python-jose[cryptography]